/* Header container */
.header {
    width: 100%;
    background: transparent;
    padding: 20px 0;
    box-sizing: border-box;
}

/* Inner container to align with content */
.headerContainer {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 1.8rem;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    flex: none; /* Allow fixed width */
    width: 220px; /* Fixed width on larger screens */
}

/* Navigation bar */
.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex: 1; /* Take the remaining space */
}

.nav a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav a.active {
    color: red;
}

.nav a:hover {
    color: red;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        text-align: center;
        width: auto; /* Remove fixed width on smaller screens */
        margin-bottom: 10px;
    }

    .nav {
        justify-content: center;
        margin-bottom: 10px;
    }

    .socialIcons {
        justify-content: center;
        width: auto; /* Remove fixed width on smaller screens */
    }
}
