/* Reset and box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root font styles */
:root {
  --background: #ADD8E6;
  --foreground: #ffffff;
  /* White text color */
  --accent: #FF69B4;
  --subaccent: #FFA500;
  /* Red for accents like links and active states */
}

html,
body {
  font-family: 'Nunito', sans-serif;
  /* Elegant, thin font for body text */
  color: var(--foreground);
  /* background-color: var(--background); */
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  /* Compressed, bold font for headings */
  font-weight: bold;
  margin: 0 0 10px;
  line-height: 1.2;
  /* text-transform: uppercase; */
  /* Optional, for extra elegance */
}

h1 {
  color: var(--accent);
}

h2,h3 {
  color: var(--subaccent);
}

/* Links and navigation */
a {
  color: var(--foreground);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent);
}

nav a.active {
  color: var(--accent);
  /* Highlight active link */
}

/* General body text */
p,
li {
  font-family: 'Roboto', Arial, sans-serif;
  /* Thin, elegant font */
  font-weight: 300;
  margin: 0 0 10px;
}