/* Reset and box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set base font styles */
:root {
  --foreground: #ffffff; /* White text color */
  --accent: #ff4040; /* Red for accents like links and active states */
}

html, body {
  font-family: 'Work Sans', Arial, sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

}

/* Headings with Raleway */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--foreground);
  margin: 0 0 10px;
  line-height: 1.2;
}

/* Links and navigation */
a {
  color: var(--foreground);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent);
}

/* Active navigation link */
nav a.active {
  color: var(--accent); /* Highlight active link */
}

/* Body text */
p, li {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
