/* Hero section */
.hero {
    margin: 100px 0;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
  }
  
  .hero h1 {
    margin: 0;
    font-size: 4rem;
  }
  
  .hero h1 span {
    display: block;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: red;
    font-weight: 400;
  }
  
  /* Thumbnails grid */
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 50px 0;
  }
  
  .thumbnails img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  